* {
  margin: 0;
  box-sizing: border-box;
}

.form {
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.form__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

textarea {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 15px;
}

#name,
#email,
#subject {
  padding: 10px 15px;
  flex: 1;
  border: 1px solid #e6e6e6;
}

#name {
  margin-right: 15px;
}

#email {
  margin-left: 15px;
}

#subject {
  width: 100%;
  margin: 15px 0;
}

.form__submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.form__submit p {
  color: #b3b3b3;
}

.form__submit button {
  padding: 7px 15px;
  border: none;
  background: tomato;
  color: #fff;
  transition: 0.3s all ease;
  cursor: pointer;
  flex: 1;
}

.form__submit button:hover {
  background: rosybrown;
}
